In [1]:
import pandas as pd

an = pd.read_csv("Dataset/Answers.csv",encoding='latin-1')
an.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [2]:
from datetime import date


# datetime.datetime.today()
an["latest_score"] = an["Score"]

an["alternate"] = an["Score"]
an["date"] = date.today()
an.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body,latest_score,alternate,date
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...,4,4,2022-06-16
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...,2,2,2022-06-16
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...,9,9,2022-06-16
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...,23,23,2022-06-16
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B...",20,20,2022-06-16

In [3]:
an.to_csv("Dataset/AnswersV2.csv",index=False)